<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="borrower.css">
<link rel="stylesheet" href="global.css">
<script src="modal.js"></script>
</head>
<body>
	<div class="main">
		<div>
			<!--  <h2>Hello ${message}</h2>-->
			<div class="Header">
				<h1>
					Hello <span th:text=${borrower.person.firstName}></span>
				</h1>
				<br>
			</div>
			<div class="ContactInfo">
				<h3>Your Contact Information:</h3>
				<p>
					Phone Number: <span th:text=${borrower.person.contactInfo.primaryPhone}></span>
				</p>
				<p>
					<span th:if="${borrower.person.contactInfo.address} != null"></span> Address: <span th:text=${borrower.person.contactInfo.address}></span>
				</p>
			</div>
			<div>
				<br> <br> <span th:if="${borrower.loans != null}">
					<table style="width: 100%">
						<tr>
							<th>Servicer</th>
							<th>Loan ID</th>
							<th>Loan Amount</th>
							<th>Loan Interest</th>
						</tr>
						<tr class="Loan" th:each="loan : ${borrower.loans}">
							<td><span th:text="${loan.servicer.name}"></span></td>
							<td><span th:text="${loan.id}"></span></td>
							<td>$<span th:text="${loan.amount}"></span></td>
						</tr>
					</table>
				</span> <span th:if="${borrower.loans == null}">
					<h1>You have no Loans!</h1>
				</span> <br>
				<div onmouseover="mapModal('borrowerModal');">
					<!-- The Modal -->
					<div id="borrowerModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content" align="center">
							<form action="#" th:action="@{/outreach}" method="post" class="formModal">
								<input type="hidden" th:value="borrower" th:attr="name='type'" />
								<table>
									<tr>
										<td class="pad-right">
											<ul>
												<li>First Name</li>
												<li><input type="text" th:value="${person.firstName}" name="firstName" /></li>
												<li>Last Name</li>
												<li><input type="text" th:value="${person.lastName}" name="lastName" /></li>
												<li>Primary Phone</li>
												<li><input type="text" th:value="${contactInfo.primaryPhone}" name="primaryPhone" /></li>
												<li>Enter a Username</li>
												<li><input type="text" th:field="${user.username}" /></li>
												<li>Enter a Password</li>
												<li><input type="password" th:field="${user.password}" /></li>
											</ul>
										</td>
										<td><button class="button" value="Submit">Submit</button>
											<button id="borrowerModal_close_button" class="cancel-button" type="button">Cancel</button></td>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<button id="borrowerModal_button" class="button" type="button" role="button" value="MORE">Outreach!</button>
				</div>
				<br>
				<div onmouseover="mapModal('loanModal');">
					<!-- The Modal -->
					<div id="loanModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content" align="center">
							<form action="#" th:action="@{/outreach}" method="post" class="formModal">
								<input type="hidden" th:value="loan" th:attr="name='type'" />
								<table>
									<tr>
										<td class="pad-right">
											<ul>
												<li>First Name</li>
												<li><input type="text" th:value="${person.firstName}" name="firstName" /></li>
												<li>Last Name</li>
												<li><input type="text" th:value="${person.lastName}" name="lastName" /></li>
												<li>Primary Phone</li>
												<li><input type="text" th:value="${contactInfo.primaryPhone}" name="primaryPhone" /></li>
												<li>Enter a Username</li>
												<li><input type="text" th:field="${user.username}" /></li>
												<li>Enter a Password</li>
												<li><input type="password" th:field="${user.password}" /></li>
											</ul>
										</td>
										<td><button class="button" value="Submit">Submit</button>
											<button id="loanModal_close_button" class="cancel-button" type="button">Cancel</button></td>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<button id="loanModal_button" class="button" type="button" role="button" value="MORE">Upload Loan!</button>
				</div>
				<div class="Footer">
					Click on this <strong><a href="/">link</a></strong> to go back to the home page.
				</div>
			</div>
		</div>
</body>
</html>