<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="contributor.css">
<link rel="stylesheet" href="global.css">
<script src="modal.js"></script>
</head>
<body>
	<div class="main">
		<div>
			<div class="Header">
				<h1>
					Hello <span th:text=${person.firstName}></span> <span th:text=${person.lastName}></span>
				</h1>
				<br>
			</div>
			<div class="ContactInfo">
				<h3>Your Contact Information:</h3>
				<p>
					Phone Number: <span th:text=${contactInfo.primaryPhone}></span>
				</p>
				<p>
					Address: <span th:text=${address}></span>
				</p>
			</div>
			<div>
				<br>
				<h3 class="center">Your Contributions</h3>
				<div class="Contribution" th:each="contribution : ${contributions}">
					Contribution Amount: $<span th:text="${contribution.amount}"></span><br> Contribution Date: <span th:text="${contribution.contributionDate}"></span>
					<div th:each="payment : ${contribution.payments}">
						Loan Amount: $<span th:text="${payment.loan.amount}"></span><br> Loan Date: <span th:text="${payment.loan.disbursedDate}"></span>
					</div>
				</div>
				<br>
			</div>
			<br>
			<div onmouseover="mapModal('contributionModal');">
					<!-- The Modal -->
					<div id="contributionModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content" align="center">
							<form action="#" th:action="@{/signup}" method="post" class="formModal">
								<input type="hidden" th:value="contribution" th:attr="name='type'" />
								<table>
									<tr>
										<td class="pad-right">
											<ul>
												<li>Amount</li>
												<li><input type="text" th:value="${contribution.amount}" name="amount" /></li>
												<li>Date</li>
												<li><input type="text" th:value="${contribution.contributionDate}" name="contributionDate" /></li>
												<li>Loan ID</li>
												<li><input type="text" th:value="${loan.id}" name="id" /></li>
											</ul>
										</td>
										<td><button class="button" value="Submit">Submit</button>
											<br>
											<button id="contributionModal_close_button" class="cancel-button" type="button">Cancel</button></td>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<button id="contributionModal_button" class="button" type="button" role="button" value="MORE">Make a New Contribution</button>
				</div>
				<br>
				<div onmouseover="mapModal('emailBorrowersModal');">
					<!-- The Modal -->
					<div id="emailBorrowersModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content" align="center">
							<form action="#" th:action="@{/signup}" method="post" class="formModal">
								<input type="hidden" th:value="emailBorrowers" th:attr="name='type'" />
								<table>
									<tr>
										<td class="pad-right">
											<ul>
												<li>Phone Number</li>
												<li><input type="text" th:value="${contactInfo.primaryPhone}" name="primaryPhone" /></li>
												<li>Email</li>
												<li><input type="text" th:value="${contactInfo.email}" name="email" /></li>
											</ul>
										</td>
										<td><button class="button" value="Submit">Contact</button>
											<br>
											<button id="emailBorrowersModal_close_button" class="cancel-button" type="button">Cancel</button></td>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<button id="emailBorrowersModal_button" class="button" type="button" role="button" value="MORE">Outreach!</button>
				</div>
				<br>
				<div onmouseover="mapModal('viewLoansModal');">
					<!-- The Modal -->
					<div id="viewLoansModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content" align="center">
							<form action="#" th:action="@{/signup}" method="post" class="formModal">
								<input type="hidden" th:value="viewLoans" th:attr="name='type'" />
								<table>
									<tr>
										<td class="pad-right">
											<ul>
												<li>Loan ID</li>
												<li><input type="text" th:value="${loan.id}" name="id" /></li>
											</ul>
										</td>
										<td><button class="button" value="Submit">View</button>
											<br>
											<button id="viewLoansModal_close_button" class="cancel-button" type="button">Cancel</button></td>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<button id="viewLoansModal_button" class="button" type="button" role="button" value="MORE">View Loans</button>
				</div>
			<div class="Footer">
				Click on this <strong><a href="/">link</a></strong> to go back to the home page.
			</div>
		</div>
	</div>
</body>
</html>