<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	    <!-- The dialect specifies the type of database used in hibernate so that hibernate generate appropriate type of SQL statements. -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://18.217.131.70:3306/SLRP</property>
		<property name="hibernate.connection.username">superuser</property>
		<property name="hibernate.connection.password">superuser</property>
		<!-- you can create and update the table if it is not in DB. If create, it create new table everytime-->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- True you will see sql in console -->
		<property name="show_sql">true</property>
		<mapping class="com.slrp.model.Borrower" />
		<mapping class="com.slrp.model.ContactInfo" />
		<mapping class="com.slrp.model.Contract" />
		<mapping class="com.slrp.model.Contribution" />
		<mapping class="com.slrp.model.Loan" />
		<mapping class="com.slrp.model.Organization" />
		<mapping class="com.slrp.model.Payment" />
		<mapping class="com.slrp.model.Person" />
		<mapping class="com.slrp.model.School" />
		<mapping class="com.slrp.model.Servicer" />
		<mapping class="com.slrp.model.User" />
	</session-factory>
</hibernate-configuration>
